.SideMenu {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  min-height: 100vh;
  top: 45px;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border-right: 1px solid black;
  padding: 2rem 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.SearchBar {
  border: none;
  outline: none;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

@media screen and (min-width: 600px) {
  .SideMenu {
    display: none;
  }
}
